#navbar {
  background-color: #5c5c5c;
  color:#ffffff;
  font-weight:500
}

nav a{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
}

nav a.active {
  background-color: #00a7a7;
}

nav a:visited {
  color:#ffffff;
}

body {
  background-color: #ffffffa2;
  color: #2c580f;
  padding: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}